:root {
  --body-color: #292929; /* общий фон */
  --title-color: #ffffff; /* цвет заголовков */
  --hov-language-before: #545252;
  --subtitle-color: #B4BBC5;/* цвет подзаголовков */
  --hov-modal-button: #545252;
  --foc-modal-button: 1px solid #B4BBC5;
  --hov-close-button:#545252;

  --bg-tabs:#545252;
  --bg-active-tabs: #292929;
  --br-tabs__btn--active: 2px solid #B4BBC5;

  --nav-link-color: #ffffff; /* цвет ссылок в навигации */

  --accent-color: #BB86FC; /* основной цвет тем */
  
}


/* btn-primary */
.btn-primary {
  --button-bg-color: #BB86FC;
  --button-text-color: #000000;
}


/* forms */
input[type='text'],
input[type='email'],
textarea {
  --input-bg-color: #F6F6F6;
  --input-border-color: #D2D2D2;
}