:root {
  --body-color: #ffffff; /* общий фон */
  --title-color: #222222; /* цвет заголовков */
  --hov-language-before: #F7F7F7;
  --subtitle-color: #42526B; /* цвет подзаголовков */ 
  --hov-modal-button: #f7f7f7;
  --foc-modal-button: 1px solid #222222;
  --hov-close-button:#f7f7f7;

  --bg-tabs:#EBEBEB;
  --bg-active-tabs:#FFFFFF;
  --br-tabs__btn--active: 2px solid #222222;


  --nav-link-color: #222222; /* цвет ссылок в навигации */

  --accent-color: #FF385C; /* основной цвет тем */
}

/* btn-primary */
.btn-primary {
  --button-bg-color: #FF385C;
  --button-text-color: #ffffff;
}


/* forms */
input[type='text'],
input[type='email'],
textarea {
  --input-bg-color: #F6F6F6;
  --input-border-color: #D2D2D2;
}